/* Basic styling for the navbar */
body {
    font-family: "Montserrat";
    font-weight: 500;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the content takes up at least the full height of the viewport */
}

.navbar {
    background-color: #333;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Necessary for absolute positioning */
}

.home-link {
    position: absolute;
    left: 220px; /* Adjust as needed */
    color: #fff;
    text-decoration: none;
    font-size: 30px;
}

.navbar-links {
    display: flex;
    justify-content: center;
}

.navbar-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links ul li {
    margin-right: 25px;
}

.navbar-links ul li:last-child {
    margin-right: 0;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
}

.navbar-links a:hover {
    color: #ddd;
}



.body-content {
    display: flex;
}

.sidebar {
    background-color: #f8f9fa;
    width: 30%;
    padding: 20px;
    border-right: 1px solid #e9ecef;
    position: fixed; /* Set position as fixed */
    height: 100vh; /* Occupy full viewport height */
    overflow-y: auto; /* Enable scrolling for the sidebar */
}

.main-content {
    flex: 1;
    padding: 20px;
    margin-left: 30%; /* Adjust margin to make space for the sidebar */
    overflow-y: auto; /* Enable scrolling for the main content */
}

.content {
    flex: 1;
    padding: 15px;
    margin-right: 200px; /* Adjust margin as needed */
    margin-left: 50px; /* Adjust margin as needed */
}

/* Logo */
.logo-container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.logo {
    width: 200px; /* Adjust size as needed */
    height: 220px; /* Adjust size as needed */
    border-radius: 40%; /* Makes the image round */
    overflow: hidden; /* Ensure roundness is applied */
    object-fit: cover; /* Ensure the image fills the container without stretching */
}

/* Description */
.description {
    text-align: center;
}

/* Social Icons */
.social-icons {
    text-align: center;
}

.social-icon {
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    margin-right: 10px; /* Add spacing between icons */
}

/* Styling for the tool list */
.tool-list {
    list-style-type: none; /* Remove default list styles */
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
}

.tool-list li {
    display: inline-block;
    background-color: #007bff; /* Blue color, you can change this */
    color: #fff; /* Text color */
    padding: 5px 10px; /* Adjust padding as needed */
    border-radius: 20px; /* Adjust border-radius to make circles */
    margin: 5px; /* Add margin between bubbles */
    font-size: 14px; /* Adjust font size as needed */
    transition: all 0.3s ease; /* Add transition for smooth hover effect */
}

/* Hover effect */
.tool-list li:hover {
    transform: scale(1.2); /* Expand the bubble on hover */
    background-color: #0056b3; /* Darker blue color on hover, you can change this */
    cursor: pointer; /* Change cursor to pointer on hover */
}

/* Styling for certification carousel */
.cert-carousel-container {
    position: relative;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.cert-carousel {
    display: flex;
    overflow-x: hidden; /* Change to hidden */
    scroll-snap-type: x mandatory;
    position: relative;
}

.cert-slide {
    flex: 0 0 auto;
    scroll-snap-align: start;
    padding: 10px;
    text-align: center;
    display: none; /* Initially hide all slides */
}

.cert-slide.active {
    display: block; /* Display active slide */
}

.cert-slide img {
    width: 650px; /* Adjust the width as needed */
    height: auto;
    border-radius: 10px;
}

.cert-slide p {
    margin-top: 5px;
    font-size: 14px;
}

/* Styling for arrow buttons */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.arrow-left {
    left: 0;
}

.arrow-right {
    right: 0;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Darker color */
    color: white; /* Text color */
}